// Import variables and mixins
@use "./vars"as *;
@use "./mixins"as *;
@use "sass:color";

.favarite-listing {
    .stock {
        font-size: 12px;
        color: green;
    }

    .remove {
        background: $red;
        color: $white;
        border: 2px solid $red;
        max-width: 36px;

        &:hover {
            border: 2px solid $red;
            background: $lightRed;
            color: $red;
        }
    }

    .view-cart-btn {
        max-width: 140px;
    }

    .view-cart-btn,
    .remove {
        padding: 4px;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
        transition: $default-transition;
    }
}

.empty {
    text-align: center;
    padding: 60px 20px;
    color: #666;
}

.empty h3 {
    color: $blue;
}